@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme((

  header-height: 80px,
  header-padding: 16px,
  header-background-color: background-basic-color-1,
  sidebar-width: 256px,
  sidebar-padding: 16px,
  sidebar-background-color: background-basic-color-1,

  border-radius: 0.25rem,
  bg-default-color: color-basic-800,
  bg-disabled-color: color-basic-900,
  card-disabled-header-border-color: color-basic-700,
  card-disabled-footer-border-color: color-basic-700,
  table-disabled-border-color: color-basic-700,
  bg-hint-color: color-basic-700,
  card-hint-header-border-color: color-basic-600,
  card-hint-footer-border-color: color-basic-600,
  table-hint-border-color: color-basic-600,
  table-border-color: color-basic-700,
  shadow: none,

  input-tiny-max-width: 100%,
  input-small-max-width: 100%,
  input-medium-max-width: 100%,
  input-large-max-width: 100%,
  input-giant-max-width: 100%,
  select-tiny-max-width: 100%,
  select-small-max-width: 100%,
  select-medium-max-width: 100%,
  select-large-max-width: 100%,
  select-giant-max-width: 100%,
  color-basic-100: #FFFFFF,
  color-basic-200: #F7F9FC,
  color-basic-300: #EDF1F7,
  color-basic-400: #E4E9F2,
  color-basic-500: #C5CEE0,
  color-basic-600: #8F9BB3,
  color-basic-700: #2E3A59,
  color-basic-800: #222B45,
  color-basic-900: #1A2138,
  color-basic-1000: #151A30,
  color-basic-1100: #101426,

  color-primary-100: #DFEBFA,
  color-primary-200: #C1D6F5,
  color-primary-300: #9AB4E1,
  color-primary-400: #7791C4,
  color-primary-500: #4B649D,
  color-primary-600: #364C87,
  color-primary-700: #253871,
  color-primary-800: #17265B,
  color-primary-900: #0E194B,

  color-info-100: #CAF7FC,
  color-info-200: #96E9FA,
  color-info-300: #60D0F1,
  color-info-400: #38B1E3,
  color-info-500: #0087D1,
  color-info-600: #0068B3,
  color-info-700: #004E96,
  color-info-800: #003779,
  color-info-900: #002764,

  color-success-100: #E6FBD4,
  color-success-200: #C7F7AA,
  color-success-300: #9CE77C,
  color-success-400: #72CF57,
  color-success-500: #3CAF28,
  color-success-600: #25961D,
  color-success-700: #147D14,
  color-success-800: #0C6514,
  color-success-900: #075314,

  color-warning-100: #FEFCD0,
  color-warning-200: #FDF9A1,
  color-warning-300: #F9F472,
  color-warning-400: #F4EC4E,
  color-warning-500: #EDE217,
  color-warning-600: #CBC110,
  color-warning-700: #AAA00B,
  color-warning-800: #898007,
  color-warning-900: #716904,

  color-danger-100: #FCE5D5,
  color-danger-200: #FAC5AC,
  color-danger-300: #F19B80,
  color-danger-400: #E3735E,
  color-danger-500: #D13B2E,
  color-danger-600: #B32121,
  color-danger-700: #961721,
  color-danger-800: #790E20,
  color-danger-900: #64081F,

  
  card-margin-bottom: 0,
  outline-width: 0,
  
), dark, dark);

